* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    height: 100vh;
}
#map {
    height: 100vh;
    width: 100vw;
}
.control-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 180px
}
.control-panel button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.leaflet-draw {
    top: 160px
}